# dependencies
node_modules/

# Next.js
.next/
out/

# build
dist/
build/

# env files
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# logs
*.log
npm-debug.log*

# editor
.vscode/
.idea/
